@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

$bgColor: #edeef0;
$mainColor: #529e63;
$font: "Inter", system-ui;
$successColor: #00c851;
$errorColor: #dc3545;