@import "./variables";
@import "formStyle";

form {
  .input_wrapper {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    .wrapper {
      width: 100%;

      display: flex;
      justify-content: center;

      position: relative;

      .error {
        padding: 10px;

        color: $errorColor;
        background-color: #fff;

        border: 2px solid #ccc;
        border-radius: 10px;

        opacity: 0;

        position: absolute;
        top: 0;

        animation: error_opacity 0.5s forwards;
      }

      @keyframes error_opacity {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }

    .password_wrapper {
      position: relative;

      .password_eye {
        width: 30px;
        height: 30px;

        background-repeat: no-repeat;
        -webkit-background-size: 30px;
        background-size: 30px;

        position: absolute;
        top: 25%;
        left: 50%;
      }

      .password_hide {
        background-image: url("../svg/eye_password_hide.svg");
      }
    }

    input {
      width: 100%;
      max-width: 500px;
      height: 50px;

      padding: 0 15px;

      background-color: #d9d9d9;

      border: none;
      border-radius: 15px;
      outline: none;
    }
  }

  @import "submitButton";

  span {
    text-align: center;

    a {
      color: #00f;

      text-decoration: none;
    }
  }
}
